<div class="account">
    <div class="col col-2">
        <div class="pic-area">
            <div class="img-container">
                <img [src]="imageUrl" alt="profile pic">
            </div>
            <p class="user-name">{{ currentUser?.name }}</p>
            <div class="pic-actions">
                <div *ngIf="!isEditingImage">
                    <button mat-flat-button color="primary" (click)="editImage()">
                        Change Image
                    </button>
                </div>
                <div *ngIf="isEditingImage">
                    <input type="file" accept=".png" (change)="onFileChanged($event)" id="fileInput" style="display:none">
                    <button mat-flat-button color="primary" (click)="openFileInput()">
                        Select
                    </button>
                    <button mat-flat-button color="accent" (click)="uploadImage()">
                        Upload
                    </button>
                    <button mat-flat-button color="warn" (click)="cancelImageEdit()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        <div class="logout-button">
            <button mat-flat-button color="accent" (click)="logout()">
                Logout
            </button>
        </div>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="registerForm" >
                
                    <p>
                        User
                    </p>
                    <div class="form-content1">
                        <mat-form-field appearance="fill"  >
                            <mat-label>
                                Email
                            </mat-label>
                            <input type="email" matInput  formControlName="email" >
                        </mat-form-field>
        
                        <mat-form-field appearance="fill">
                            <mat-label>
                                Username
                            </mat-label>
                            <input type="text" matInput formControlName="username">
                        </mat-form-field>
        
                        <mat-form-field appearance="fill">
                            <mat-label>
                                Contact No
                            </mat-label>
                            <input type="text" matInput formControlName="contactno" >
                        </mat-form-field>
        
        
                    </div>
        
                </form>
                <!-- ###################################################################### -->
                <form [formGroup]="addressForm">
        
                    <div class="form-content2">
        
                        <p>
                            address
                        </p>
                        <div class="field-row">
                        <mat-form-field appearance="fill" >
                            <mat-label>State</mat-label>
                            <mat-select matInput formControlName="state"   (selectionChange)="stateChange($event)"  >
                            <mat-option disabled>Select a state</mat-option>                            
                            <mat-option *ngFor="let state of _states" [value]="state" >{{ state }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    
                        <mat-form-field appearance="fill">
                            <mat-label>City</mat-label>
                            <mat-select matInput  formControlName="city">
                            <mat-option disabled>Select a city</mat-option>
                            <mat-option *ngFor="let city of _cities" [value]="city" >{{ city }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        </div>
                        
                        <div class="field-row">
                            <mat-form-field appearance="fill">
                            <mat-label>Street</mat-label>
                            <input type="text" matInput formControlName="street">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                            <mat-label>Door No</mat-label>
                            <input type="text" matInput formControlName="doorNo">
                            </mat-form-field>
                        
                            <mat-form-field appearance="fill">
                            <mat-label>Zip Code</mat-label>
                            <input type="text" matInput formControlName="zipcode">
                            </mat-form-field>
                        </div>
        
                    </div>
                </form>
        

            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="!isEditingForm" >
                    <button mat-flat-button color="primary" (click)="editForm()">
                        edit account details
                    </button>
                </div>
                <div *ngIf="isEditingForm">
                    <button mat-flat-button color="primary" (click)="updateForm()">
                        confirm edit
                    </button>
                    <button mat-flat-button color="warn" (click)="cancelFormEdit()">
                        cancel
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>

    </div>
    
    
</div>