<div class="profile">
    <mat-tab-group [selectedIndex]="0"  dynamicHeight animationDuration="500ms" preserveContent>
        <mat-tab label="ACCOUNT"> 
            <ng-template matTabContent>
                <app-account [customerId]="customerId"></app-account>
            </ng-template>
        </mat-tab>
        <!-- <mat-tab label="CART"> 
            <ng-template matTabContent>
                <app-cart [customerId]="customerId"></app-cart>
            </ng-template>
        </mat-tab> -->
        <!-- <mat-tab label="DELIVERIES"> 
            <ng-template matTabContent>
                <app-delivery [customerId]="customerId"></app-delivery>
            </ng-template>
        </mat-tab> -->
        <!-- <mat-tab label="HISTORY"> 
            <ng-template matTabContent>
                <app-customer-history [customerId]="customerId"></app-customer-history>
            </ng-template>
        </mat-tab> -->

    </mat-tab-group>
</div>