<div class="restaurant-control">
    <div class="hero-container">
    
        <div class="content">
            <div class="main-buttons">
                <button mat-flat-button color="primary" (click)="registerRestaurantBtn()">
                    Register your restaurant
                </button>
                <button mat-flat-button color="accent" (click)="viewRestaurantsBtn()">
                    view your restaurants
                </button>
            </div>
        </div>
    </div>
    <div class="info">

        <h1>
            Why should you partner with FoodHut?
        </h1>

        <p>
            FoodHut enables you to get 60% more revenue, 10x new customers and boost your brand visibility by providing insights to improve your business.
        </p>

        <div >
            <span>
                1000+ cities
            </span>
            <span>
                3 lakh+ cities
                restaurant listings
            </span>
            <span>
                5.0 crore+
                monthly orders
            </span>


        </div>

    </div>
</div>