<div class="footer">
<div class="footerHead">FoodHut</div>
<div class="footerContent">
    <div class="f1">
        <ul class="firstList">
            <li class="firstListItem"><strong> ABOUT FOODHUT</strong></li>
            <li class="listItem"><a href="">Who we are</a></li>
            <li class="listItem"><a href="">Work with Us</a></li>
            <li class="listItem"><a href="">Investor Relations</a></li>
            <li class="listItem"><a href="">Press Kit</a></li>
        </ul>
    </div>
    <div class="f1">
        <ul class="firstList">
            <li class="firstListItem"><strong>FOR RESTAURANTS</strong></li>
            <li class="listItem"><a href="">Partner with us</a></li>
            <li class="listItem"><a href="">Apps For You</a></li>
            <li class="enterpriseClass firstListItem"><strong>FOR ENTERPRISE</strong></li>
            <li class="listItem"><a href="">FoodHut For Enterprise</a></li>
        </ul>
    </div>
    <div class="f1">
        <ul class="firstList">
            <li class="firstListItem"><strong>LEARN MORE</strong></li>
            <li class="listItem"><a href="">Privacy</a></li>
            <li class="listItem"><a href="">Security</a></li>
            <li class="listItem"><a href="">Terms</a></li>
            <li class="listItem"><a href="">Sitemap</a></li>
        </ul>
    </div>
    <div class="f1">
        <ul class="firstList">
            <li class="firstListItem"><strong>SOCIAL LINKS</strong></li>
            <li>
                <div class="iconsContainer">
                    <div><img src="../../assets/icons/facebook.png" class="iconImage"></div>
                    <div><img src="../../assets/icons/instagram.png" class="iconImage"></div>
                    <div><img src="../../assets/icons/twitter.png" class="iconImage"></div>
               </div> 
            </li>
        </ul>
       
    </div>
</div>
<hr>
<div class="footerEnd">By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2008-2023 &copy; Zomato™ Ltd. All rights reserved.</div>
</div>