.restaurant-menu{

    display: flex;
    flex-direction: column;
    /* background-color: lightskyblue; */
    padding: 1em;
    gap: 1em;
}

mat-card{
    border: 1px solid  yellow;
    padding: 1em;
}
.item-list{
    --_spacer: 1rem;
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
  
    padding: 0.5em var(--_spacer) var(--_spacer);
  
    overflow-x: auto;
    overscroll-behavior-inline: contain;

}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}
.snaps-inline > * {
    scroll-snap-align: start;
}
.media-scroller --with-groups {
    grid-auto-columns: 80%;
}
  
/* .item-card{
    height: 5em;
    background-color: red;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
} */
.item-card > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.media-group {
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
  }
  
  .item-details{

    background-color: antiquewhite;
    padding: 1em;

  }

/* .selectable-card:hover{
    opacity: 0.5;
}  */