<div class="header">
  <span class="title" (click)="homeBtn()">
    FoodHut
  </span>
  <div class="buttons">
    <!-- <button mat-icon-button (click)="restaurantControlBtn()" matTooltip="add restaurant" *ngIf="isLoggedIn">
      <mat-icon>add</mat-icon>
    </button> -->
    <button mat-icon-button (click)="homeBtn()" matTooltip="home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="loginBtn()" matTooltip="login" *ngIf="!isLoggedIn">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button (click)="signupBtn()" matTooltip="signup" *ngIf="!isLoggedIn">
      <mat-icon>person_add_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="cartviewBtn()" matTooltip="View Cart" *ngIf="isLoggedIn" >
      <mat-icon [matBadge]="this.cartService.getCartSize()" [matBadgeHidden]="this.cartService.getCartSize()===0?true:false">shopping_cart</mat-icon>
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="profileMenu" matTooltip="User Profile" *ngIf="isLoggedIn">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="openRestaurantView()">
        <mat-icon>restaurant</mat-icon>
        <span>Restaurant View</span>
      </button>
      <button mat-menu-item (click)="openProfileSettings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="historyview()">
        <mat-icon>history</mat-icon>
        <span>history</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
